
// breakpoints
$mobile: 375px;
$tablet: 768px;
$tablet-pro: 1024px;
$desktop: 1280px;
$ultra: 1540px;



// Colors
$mercury: #e1e1e1;
$offwhite: #fafafa;
$ice: rgb(204, 226, 233);
$black: rgba(0, 0, 0, 0.845);
$beige: rgb(220, 206, 194);
$navy: #041433;
$darkgold: #524211;
$darkbeige: rgb(198, 177, 159);
$white-40: rgba(255, 255, 255, 0.4);
$white-25: rgba(255, 255, 255, 0.7);
$backdrop-blur: blur(5px);